<?xml version="1.0"?>
<robot name="camera_robot">

  <!-- Properties -->
  <property name="camera_width" value="0.05"/>
  <property name="camera_height" value="0.03"/>
  <property name="camera_depth" value="0.05"/>

  <!-- Dummy Link -->
  <!-- <link name="world"/> -->

  <!-- Dummy Joint -->
  <!-- <joint name="world_to_camera_joint" type="fixed">
    <parent link="world"/>
    <child link="camera_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <!-- Camera Link Definition -->
  <link name="camera_link">
    <visual>
      <geometry>
        <box size="${camera_width} ${camera_height} ${camera_depth}"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${camera_width} ${camera_height} ${camera_depth}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <!-- Gazebo plugins -->
  <gazebo reference="camera_link">
    <gravity>0</gravity>
    <sensor type="depth" name="depth_camera_sensor">
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>1.01960784314</horizontal_fov>
        <image>
          <width>520</width>
          <height>510</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.2</near>
          <far>1.24</far>
        </clip>
      </camera>
      <plugin name="depth_camera_controller" filename="libgazebo_ros_depth_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>robot/depth_camera</cameraName>
        <imageTopicName>depth_image_raw</imageTopicName>
        <cameraInfoTopicName>depth_camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>
      <visualize>true</visualize>
    </sensor>

    <sensor type="camera" name="visualize_camera_sensor">
     
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>1.01960784314</horizontal_fov>
        <image>
          <width>520</width>
          <height>510</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.2</near>
          <far>1.24</far>
        </clip>
      </camera>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

</robot>
