<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find denso_robot_descriptions)/vs6577_description/urdf/vs6577.urdf.xacro'"/>
  <!-- <param name="robot_description" command="xacro  '$(find add_post_pro_robot)/urdf/vanilla_with_structured_light.urdf.xacro'"/> -->
  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find denso_arm_vanilla)/config/vs6577.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find denso_arm_vanilla)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find denso_arm_vanilla)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find denso_arm_vanilla)/config/kinematics.yaml"/>

  </group>

</launch>
